<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>728483187088-l1cukm6i309knev1ito1gmou616ctkcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728483187088-l1cukm6i309knev1ito1gmou616ctkcr</string>
	<key>API_KEY</key>
	<string>AIzaSyAUTj3pnc73Y7GpUNkx___XTvC4hPohzfw</string>
	<key>GCM_SENDER_ID</key>
	<string>728483187088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OWL.oncewaslost</string>
	<key>PROJECT_ID</key>
	<string>oncewaslost-c1fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>oncewaslost-c1fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:728483187088:ios:fc86cb79d04f1f19</string>
	<key>DATABASE_URL</key>
	<string>https://oncewaslost-c1fbc.firebaseio.com</string>
</dict>
</plist>
